<a href="https://colab.research.google.com/github/gaditi123/PRML-project/blob/main/Pill_Recommendation.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [6]:
import pandas as pd
import numpy as np
import seaborn as sns
from matplotlib import pyplot as plt
from sklearn.model_selection import train_test_split

In [8]:
from google.colab import drive
drive.mount('/content/drive',force_remount=True)
train = pd.read_csv('drive/My Drive/drugsCom_raw/drugsComTrain_raw.tsv', sep='\t')
test = pd.read_csv('drive/My Drive/drugsCom_raw/drugsComTest_raw.tsv', sep='\t')

# getting the shapes
print("Shape of train :", train.shape)
print("Shape of test :", test.shape)

Mounted at /content/drive
Shape of train : (161297, 7)
Shape of test : (53766, 7)

In [9]:
train.head()

   Unnamed: 0                  drugName  ...               date usefulCount
0      206461                 Valsartan  ...       May 20, 2012          27
1       95260                Guanfacine  ...     April 27, 2010         192
2       92703                    Lybrel  ...  December 14, 2009          17
3      138000                Ortho Evra  ...   November 3, 2015          10
4       35696  Buprenorphine / naloxone  ...  November 27, 2016          37

[5 rows x 7 columns]

In [10]:
test.head()

   Unnamed: 0         drugName  ...                date usefulCount
0      163740      Mirtazapine  ...   February 28, 2012          22
1      206473       Mesalamine  ...        May 17, 2009          17
2      159672          Bactrim  ...  September 29, 2017           3
3       39293         Contrave  ...       March 5, 2017          35
4       97768  Cyclafem 1 / 35  ...    October 22, 2015           4

[5 rows x 7 columns]

In [11]:
# as both the dataset contains same columns we can combine them for better analysis
data = pd.concat([train, test])

# checking the shape
data.shape

(215063, 7)

In [12]:
data.describe()

          Unnamed: 0         rating    usefulCount
count  215063.000000  215063.000000  215063.000000
mean   116039.364814       6.990008      28.001004
std     67007.913366       3.275554      36.346069
min         0.000000       1.000000       0.000000
25%     58115.500000       5.000000       6.000000
50%    115867.000000       8.000000      16.000000
75%    173963.500000      10.000000      36.000000
max    232291.000000      10.000000    1291.000000

In [13]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 215063 entries, 0 to 53765
Data columns (total 7 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   Unnamed: 0   215063 non-null  int64
 1   drugName     215063 non-null  object
 2   condition    213869 non-null  object
 3   review       215063 non-null  object
 4   rating       215063 non-null  float64
 5   date         215063 non-null  object
 6   usefulCount  215063 non-null  int64
dtypes: float64(1), int64(2), object(4)
memory usage: 13.1+ MB

Extracting year,month and day from the date column

In [19]:
# converting the date into datetime format
data['date'] = pd.to_datetime(data['date'], errors = 'coerce')

# now extracting year from date
data['Year'] = data['date'].dt.year

# extracting the month from the date
data['month'] = data['date'].dt.month

# extracting the days from the date
data['day'] = data['date'].dt.day

Check for null values

In [14]:
data.isnull().any()

Unnamed: 0     False
drugName       False
condition       True
review         False
rating         False
date           False
usefulCount    False
dtype: bool

Add review sentiment column which acts as target variable. It gives a (good,bad)-(1,0) value based on rating of the drug

In [18]:
# feature engineering 
# let's make a new column review sentiment 

data.loc[(data['rating'] >= 5), 'Review_Sentiment'] = 1
data.loc[(data['rating'] < 5), 'Review_Sentiment'] = 0

data['Review_Sentiment'].value_counts()

1.0    160613
0.0     53256
Name: Review_Sentiment, dtype: int64

In [20]:
data['condition'].isnull().sum()

0

In [21]:
# we will delete the rows so that the data does not overfits 

data = data.dropna(axis = 0)

# checking the new shape of the data
data.shape

(213869, 11)

In [22]:
# importing the important libraries 

import re
from bs4 import BeautifulSoup
import nltk
nltk.download('stopwords')
from nltk.corpus import stopwords
from nltk.stem.snowball import SnowballStemmer
from nltk.stem.porter import PorterStemmer

[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Unzipping corpora/stopwords.zip.

In [30]:
# removing some stopwords from the list of stopwords as they are important for drug recommendation

stops = set(stopwords.words('english'))

not_stop = ["aren't","couldn't","didn't","doesn't","don't","hadn't","hasn't","haven't","isn't","mightn't",
            "mustn't","needn't","no","nor","not","shan't","shouldn't","wasn't","weren't","wouldn't"]
for i in not_stop:
    stops.remove(i)

In [23]:
data.columns

Index(['Unnamed: 0', 'drugName', 'condition', 'review', 'rating', 'date',
       'usefulCount', 'Review_Sentiment', 'Year', 'month', 'day'],
      dtype='object')

In [24]:
df_condition = data.groupby(['condition'])['drugName'].nunique().sort_values(ascending=False)
df_condition = pd.DataFrame(df_condition).reset_index()
df_condition.tail(20)

                                      condition  drugName
896                               Short Stature         1
897                                  Hemangioma         1
898                       Short Stature for Age         1
899                             Sleep Paralysis         1
900                        Gestational Diabetes         1
901                               Gastric Cance         1
902                         Gallbladder Disease         1
903                    Dermatitis Herpetiformis         1
904                     Somatoform Pain Disorde         1
905  Esophageal Variceal Hemorrhage Prophylaxis         1
906                            Esophageal Spasm         1
907                              Sporotrichosis         1
908          Epididymitis, Sexually Transmitted         1
909                                   Pertussis         1
910                                Ehrlichiosis         1
911  Steroid Responsive Inflammatory Conditions         1
912                           Ectopic Pregnancy         1
913                     Diagnostic Bronchograms         1
914                        Systemic Candidiasis         1
915                 Epicondylitis, Tennis Elbow         1

Removing medical conditions which have only one drug associated with it in the dataset

In [25]:
# setting a df with conditions with only one drug
df_condition_1 = df_condition[df_condition['drugName'] == 1].reset_index()

all_list = set(data.index)

# deleting them
condition_list = []
for i,j in enumerate(data['condition']):
    for c in list(df_condition_1['condition']):
        if j == c:
            condition_list.append(i)
            
new_idx = all_list.difference(set(condition_list))
data = data.iloc[list(new_idx)].reset_index()
del data['index']

removing the conditions with the word "\span" in it.

In [26]:
all_list = set(data.index)
span_list = []
for i,j in enumerate(data['condition']):
    if '</span>' in j:
        span_list.append(i)
new_idx = all_list.difference(set(span_list))
data = data.iloc[list(new_idx)].reset_index()
del data['index']

In [27]:
data.shape

(159332, 11)

Applying data cleanup with -


1.   Removing HTML tags
2.   Removing non letters
3.   Convert all to lower case
4.   Remove stopwords
5.   Apply stemming

In [28]:
stemmer = SnowballStemmer('english')

def review_to_words(raw_review):
    # 1. Delete HTML 
    review_text = BeautifulSoup(raw_review, 'html.parser').get_text()
    # 2. Make a space
    letters_only = re.sub('[^a-zA-Z]', ' ', review_text)
    # 3. lower letters
    words = letters_only.lower().split()
    # 4. Stopwords 
    meaningful_words = [w for w in words if not w in stops]
    # 5. Stemming
    stemming_words = [stemmer.stem(w) for w in meaningful_words]
    # 6. space join words
    return( ' '.join(stemming_words))

In [31]:
%time data['review_clean'] = data['review'].apply(review_to_words)

CPU times: user 1min 42s, sys: 740 ms, total: 1min 43s
Wall time: 1min 43s

Using the entire data as for test and train instead of the original breakup since all have same columns

In [32]:
df_train, df_test = train_test_split(data, test_size = 0.25, random_state = 0)

# checking the shape 
print("Shape of train:", df_train.shape)
print("Shape of test: ", df_test.shape)

Shape of train: (119499, 12)
Shape of test:  (39833, 12)

Making a bag of words using CountVectorise

In [35]:
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.pipeline import Pipeline

cv = CountVectorizer(max_features = 20000, ngram_range = (4, 4))
pipeline = Pipeline([('vect',cv)])

df_train_features = pipeline.fit_transform(df_train['review_clean'])
df_test_features = pipeline.fit_transform(df_test['review_clean'])

print("Performing Bag of Words - CountVectorise\n")
print("df_train_features :", df_train_features.shape)
print("df_test_features :", df_test_features.shape)

Performing Bag of Words - CountVectorise

df_train_features : (119499, 20000)
df_test_features : (39833, 20000)